<div id="<%= dom_id journal_entry %>">
  <div>
    <strong>Title:</strong>
    <%= journal_entry.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= journal_entry.content %>
  </div>

</div>
